.button.facebook {
  padding: 0;
  background-color: white;
}

.button.facebook img {
  height: var(--button-height);
}

.button.etsy {
  padding: 0;
  background-color: white;
}

.button.etsy img {
  padding: 0.6rem 0.5rem 0.4rem 0.5rem;
  height: 2rem;
}
