.button-link {
  display: inline-block;
  user-select: none;
  height: var(--button-height);
  border-radius: var(--button-border-radius);
}

.button-link.facebook {
  background-color: white;
}

.button-link.facebook img {
  height: var(--button-height);
}

.button-link.etsy {
  background-color: white;
}

.button-link.etsy img {
  padding: 0.6rem 0.5rem 0.4rem 0.5rem;
  height: 2rem;
}
