.image-container {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.image {
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: var(--button-border-radius);
}

.product-button {
  display: inline-block;
  user-select: none;
  width: 100%;
}

.product-name {
  text-align: center;
  padding: var(--spacing-small);
}
