@import './Common/ButtonLink/index.css';
@import './Header/LanguageButton/index.css';
@import './Header/index.css';

:root {
  --spacing-small: 0.75rem;
  --spacing-large: 2.25rem;
  --button-height: 3rem;
  --button-border-radius: 0.25rem;
  --color-link-light: #cce8ff;
  --button-border: none;
  --focus-shadow: 0 0 0 2px rgba(204, 232, 255, 0.5);
  --hover-shadow: 0 10px 18px rgba(0, 0, 0, 0.11), 0 4px 5px rgba(0, 0, 0, 0.08);
  --hover-tranform: translateY(-2%);
  --active-transform: translateY(2%);

  --text-shadow-1: 0 0 2px rgba(0, 0, 0, 0.11);
  --text-shadow-2: 0 1px 2px rgba(0, 0, 0, 0.08);
  --text-shadow: var(--text-shadow-1), var(--text-shadow-2);

  --active-shadow-1: 0 2px 3px rgba(0, 0, 0, 0.11);
  --active-shadow-2: 0 1px 1px rgba(0, 0, 0, 0.08);
  --active-shadow: var(--active-shadow-1), var(--active-shadow-2);

  --default-shadow-1: 0 4px 6px rgba(0, 0, 0, 0.11);
  --default-shadow-2: 0 1px 3px rgba(0, 0, 0, 0.08);
  --default-shadow: var(--default-shadow-1), var(--default-shadow-2);
}

html,
body {
  overflow: visible;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
  font-size: 1rem;
  line-height: 1.25rem;
  text-shadow: var(--text-shadow);
  -webkit-font-smoothing: antialiased;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  display: inline-block;
  user-select: none;
  height: var(--button-height);
  border-radius: var(--button-border-radius);
  border: var(--button-border);
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
}

.interactive {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: var(--default-shadow);
}

.interactive:focus {
  outline: 0;
  box-shadow: var(--focus-shadow);
}

.interactive:hover {
  box-shadow: var(--hover-shadow);
  transform: var(--hover-tranform);
}

.interactive:active {
  transform: var(--active-transform);
  box-shadow: var(--active-shadow);
}
